@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles
@using Volo.Abp.Localization
@using Volo.Abp.Ui.Branding
@using Enisn.Abp.AspNetCore.Mvc.UI.Theme.Material.Themes.Material.Components.MainNavbar
@using Enisn.Abp.AspNetCore.Mvc.UI.Theme.Material.Themes.Material.Components.PageAlerts
@using Enisn.Abp.AspNetCore.Mvc.UI.Theme.Material.Bundling
@using Enisn.Abp.AspNetCore.Mvc.UI.Theme.Material.Themes.Material.Components.Brand
@using Enisn.Abp.AspNetCore.Mvc.UI.Theme.Material.Themes.Material.Components.BreadCrumb
@using Enisn.Abp.AspNetCore.Mvc.UI.Theme.Material.Themes.Material.Components.PublicMenu
@using Enisn.Abp.AspNetCore.Mvc.UI.Theme.Material.Themes.Material.Components.Toolbar.UserMenu
@inject IBrandingProvider BrandingProvider
@inject IPageLayout PageLayout
@{
    Layout = null;
    var containerClass = ViewBag.FluidLayout == true ? "container-fluid" : "container"; //TODO: Better and type-safe options

    var pageTitle = ViewBag.Title == null ? BrandingProvider.AppName : ViewBag.Title; //TODO: Discard to get from Title

    if (PageLayout.Content.Title != null)
    {
        if (!string.IsNullOrWhiteSpace(pageTitle))
        {
            pageTitle = " | " + pageTitle;
        }

        pageTitle = PageLayout.Content.Title + pageTitle;
    }

    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>

<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.First, StandardLayouts.Application)

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@pageTitle</title>

    <abp-style-bundle name="@MaterialThemeBundles.Styles.Global"/>

    @await Component.InvokeAsync(typeof(WidgetStylesViewComponent))

    @await RenderSectionAsync("styles", false)

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.Last, StandardLayouts.Application)
</head>
<body class="abp-application-layout bg-light @rtl">
@await Component.InvokeLayoutHookAsync(LayoutHooks.Body.First, StandardLayouts.Application)

<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="/">
                @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                @(await Component.InvokeAsync<PublicNavbarMenuViewComponent>())

                <ul class="navbar-nav d-flex flex-row">
                   @(await Component.InvokeAsync<UserMenuViewComponent>())
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>

<!--Main layout-->
<main class="my-5">
    <div class="container">

        <nav aria-label="breadcrumb">
            @(await Component.InvokeAsync<ContentBreadCrumbViewComponent>())
        </nav>

        <!--Section: Content-->
        @RenderBody()
    </div>
</main>
<!--Main layout-->

<main style="margin-top: 58px">
    <div class="container pt-4 @containerClass">

        @(await Component.InvokeAsync<PageAlertsViewComponent>())
        <div id="AbpContentToolbar">
            <div class="text-right mb-2">
                @RenderSection("content_toolbar", false)
            </div>
        </div>

        @await Component.InvokeLayoutHookAsync(LayoutHooks.PageContent.First, StandardLayouts.Application)


        @await Component.InvokeLayoutHookAsync(LayoutHooks.PageContent.Last, StandardLayouts.Application)
    </div>
</main>

<abp-script-bundle name="@MaterialThemeBundles.Scripts.Global"/>

<script src="~/Abp/ApplicationConfigurationScript"></script>
<script src="~/Abp/ServiceProxyScript"></script>

@await Component.InvokeAsync(typeof(WidgetScriptsViewComponent))

@await RenderSectionAsync("scripts", false)

@await Component.InvokeLayoutHookAsync(LayoutHooks.Body.Last, StandardLayouts.Application)
</body>
</html>